*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    background-color: #D8D8D8;
}

.wrapper{
  background-color: #E0E0E0;
}

.videocontent{
  width: 100%;
}

p{
  padding: 0 20px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
  font-size: 18px;
	line-height: 1.5;
}

@media screen and (min-width: 768px){
  .wrapper{
    width:70%;
    margin: 2em auto;
  }

  p{
    padding:0;
  }
}
